.data-info {
  height: 84vh;
  overflow-y: scroll;
  padding-bottom: 10px;
  padding-right: 10px;
}



.no-data-found {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-location-icon {
  width: 45px;
  margin-bottom: 5px;
}
