.creation-date {
  text-align: center;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.no-creation-date {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
  }