<div class="gallery row">
    <ngx-gallery *ngIf="galleryImages && galleryImages.length" [options]="galleryOptions" [images]="galleryImages"
        class="ngx-gallery"></ngx-gallery>

    <div *ngIf="editMode" class="add-more {{gallery ? '' : 'full-width'}}">
        <div class="wrapper">
            <div class="file-upload">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
                <img src="./assets/images/icons/add-more-photo.svg">
                <p>{{'general.add' | translate}}</p>
            </div>
        </div>
    </div>
</div>