$white: #fff;
$black: #303030;
$grey: #aaa;
$light-grey: #ccc;
$blue: #20a6fc;
$green: #39d69c;

.gallery {
  margin: 16px;
  display: flex;
  border: 1px dotted lightgray;
  padding: 16px;
  border-radius: 10px;
}

.photo {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
  }

  &.more {
    background-color: $blue;
    color: $white;
    box-shadow: 0 0 30px lighten($black, 50);
    padding: 2em 1em;
    font-weight: 300;

    span {
      display: block;
      font-size: 1em;
      font-weight: 400;
      line-height: 0.6;
    }
  }
}

.add-more {
  border: 1px dotted lightgray;
  border-radius: 10px;
  text-align: center;
  width: 70px;
  margin-left: 10px;
  margin-top: 10px;
}

.add-more img {
  width: 30px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.add-more p {
  margin: 0px;
  font-size: 11px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .file-upload {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    input[type="file"] {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    &:hover {
      background-position: 0 -100%;

      color: #2590eb;
    }
  }
}

.remove-photo {
  width: 22px !important;
  position: absolute;
  text-align: end;
  margin-left: 35px;
  margin-bottom: 63px;
  right: 15px;
  top: 2px;
}
