@media(min-width: 992px) {
    .custom-filter {
        margin-left: 10px;
    width: 250px;
    }
}

@media(max-width: 991px) {
    .custom-filter {
        margin-top: 10px;
        width: 100%;
    }
}
